.avatar {
    vertical-align: middle;
    width: 100%;
    /* height: 15%; */
    border-radius: 50%;
}
.profile{
    margin-top: 4%;
    float: right;
}
.nav{
    margin: 2%
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
}
.panel-body {
    padding: 15px;
}
