<div class="container margin-10" *ngIf="userObj">
  <h3>Profile</h3>
  <div class="row profile col-md-10">
    <div class="col-md-1">
      <img *ngIf="userObj.picture" [src]="userObj.picture" alt="Avatar" class="avatar">
      <img *ngIf="!userObj.picture" src="../../../assets/img_avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="col-md-8">
      <label>Name: {{userObj.name}}</label><br>
      <label>Email: {{userObj.email}}</label><br>
      <label>Phone: {{userObj.phone}}</label>
    </div>
  </div>
  <div class="row col-md-12">
    <div style="margin:2%">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#" onclick="return false" (click)="openTab('basic',$event)" >Basic Information</a></li>
        <li><a href="#" onclick="return false" (click)="openTab('company',$event)" >Company Details</a></li>
        <li><a href="#" onclick="return false" (click)="openTab('trainings',$event)" >Trainings</a></li>
      </ul>
    </div>
    <div class="tab-content col-md-8" #allTabs>
      <div id="basic" class="tab-pane fade in active col-md-10">
        <form #userForm="ngForm" (submit)="update(loginForm)">
          <div class="form-group">
            <label for="email">Name:</label>
            <input type="text" class="form-control" id="name" name="name" ngModel
              [(ngModel)]="userObj.name" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" ngModel
              [(ngModel)]="userObj.email" readonly>
          </div>
          <div class="form-group">
            <label for="email">Phone:</label>
            <input type="text" class="form-control" id="phone" name="phone" ngModel
              [(ngModel)]="userObj.phone" required>
          </div>
          <div class="form-group">
            <label for="email">Upload Picture:</label>
            <input type="file" id="profile" name="profile" ngModel
              [(ngModel)]="userObj.profile">
          </div>
        </form>
      </div>
      <div id="company" class="tab-pane fade">
      </div>
      <div id="trainings" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.</p>
      </div>
    </div>
  </div>
</div>
