.container-content {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.75em;
    margin-top: 5%;
 }
 .inline-form-left{
    margin-right: 2%
 }
 .signup-btn{
     float: right;
 }